@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: discoDuckItalic;
  src: url(./assets/fonts/DiscoDuckChromeItalic-O49e.otf);
}

@font-face {
  font-family: discoDuckItalic2;
  src: url(./assets/fonts/DiscoDuck3DItalic-al1m.otf);
}

@font-face {
  font-family: crackMan;
  src: url(./assets/fonts/Crackman.otf);
}

@font-face {
  font-family: pressStart;
  src: url(./assets/fonts/PressStart.ttf);
}

@font-face {
  font-family: silkWorm;
  src: url(./assets/fonts/Silkworm.ttf);
}

.discoDuckItalic {
  font-family: "discoDuckItalic";
}

.discoDuckItalic2 {
  font-family: "discoDuckItalic2";
}

.crackMan {
  font-family: "crackMan";
}

.silkWorm {
  font-family: "silkWorm";
}

.pressStart {
  font-family: "pressStart";
}

.backHome {
  background-image: url(./assets/pics/bgMain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backMario {
  background-image: url(./assets/pics/bgMario.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  .specialTranslate {
    transform: translate(-50%, -20%);
  }
}
